<h3>View Team Details</h3>
<div>
  <div>
    <label> <b> Name: </b> </label> {{team.name}}
  </div>
  <div>
    <label> <b> City: </b> </label> {{team.city}}
  </div>
  <div>
    <label> <b> Country: </b> </label> {{team.country}}
  </div>
  <div>
    <label> <b> Budget: </b> </label> {{team.budget}} USD
  </div>
  <div>
    <label> <b> Commission: </b> </label> {{ team.commission | number: '1.2-2' }}%
  </div>
  <button *ngIf="team.id" (click)="updateTeam(team.id)" class="btn-update">Update</button>
  <button *ngIf="team.id" (click)="deleteTeam(team.id)" class="btn-delete">Delete</button>
  <button *ngIf="team.id" (click)="fireAllPlayersByTeamId(team.id)" class="btn-fire">Fire All players</button>
  <button *ngIf="team.id" (click)="getPlayerListOfTheTeam(team.id)" class="btn-view-team-players">Find All players By The Team</button>
</div>
