<div class="player-form">
  <h3>Update Player</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-section">
      <label>First Name</label>
      <input placeholder="first name of player" type="text" id="firstName"
             [(ngModel)]="player.firstName" name="firstName">
    </div>

    <div class="form-section">
      <label>Second Name</label>
      <input placeholder="second name of player" type="text" id="secondName"
             [(ngModel)]="player.secondName" name="secondName">
    </div>

    <div class="form-section">
      <label>City</label>
      <input placeholder="city of player" type="text" id="city"
             [(ngModel)]="player.city" name="city">
    </div>

    <div class="form-section">
      <label>Country</label>
      <input placeholder="country of player" type="text" id="country"
             [(ngModel)]="player.country" name="country">
    </div>

    <div class="form-section">
      <label>BirthDate</label>
      <input placeholder="birthdate of player" type="date" id="birthDate"
             [(ngModel)]="player.birthDate" name="birthDate">
    </div>

    <div class="form-section">
      <label>Position</label>
      <input placeholder="position of player" type="text" id="position"
             [(ngModel)]="player.position" name="position">
    </div>
    <button class="submit-button" type="submit">Submit</button>
  </form>
</div>
