.block {
  margin-bottom: 20px;
}

h2 {
  color: #A80000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: #eee;
  margin-bottom: 12px;
  padding: 10px;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  font-size: 1rem;
}
.clear:hover {
  color: white;
  background-color: #42545C;
}
