<div class="player-form">
  <h3>Create Player</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-section">
      <label>First Name</label>
      <input placeholder="First name of player" type="text" id="firstName"
             [(ngModel)]="player.firstName" name="firstName">
    </div>

    <div class="form-section">
      <label>Second Name</label>
      <input placeholder="Second name of player" type="text" id="secondName"
             [(ngModel)]="player.secondName" name="secondName">
    </div>

    <div class="form-section">
      <label>City</label>
      <input placeholder="City of player" type="text" id="city"
             [(ngModel)]="player.city" name="city">
    </div>

    <div class="form-section">
      <label>Country</label>
      <input placeholder="Country of player" type="text" id="country"
             [(ngModel)]="player.country" name="country">
    </div>

    <div class="form-section">
      <label>BirthDate</label>
      <input placeholder="Birthdate of player" type="date" id="birthDate"
             [(ngModel)]="player.birthDate" name="birthDate">
    </div>

    <div class="form-section">
      <label>Position</label>
      <input placeholder="Position of player" type="text" id="position"
             [(ngModel)]="player.position" name="position">
    </div>

    <button type="submit" class="submit-button">Submit</button>
  </form>
</div>
