<h2>Player list:</h2>
<button (click)="createTransfer()" >Transfer Player To Another Team</button>
<table >
  <thead>
  <tr>
    <th>Id</th>
    <th>Player Id</th>
    <th>SellingTeam Id</th>
    <th>Buying Team Id</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let transfer of transfers">
    <td> {{ transfer.id }}</td>
    <ng-container *ngIf="transfer.playerId !== undefined">
      <td> {{ getPlayerSecondName(transfer.playerId) }}</td>
    </ng-container>
    <ng-container *ngIf="transfer.sellingTeamId !== undefined">
      <td> {{ getTeamName(transfer.sellingTeamId)}}</td>
    </ng-container>
    <ng-container *ngIf="transfer.buyingTeamId !== undefined">
      <td> {{ getTeamName(transfer.buyingTeamId)}}</td>
    </ng-container>    <td>
      <button *ngIf="transfer.id" (click)="getTransferDetails(transfer.id)" >View</button>
    </td>
  </tr>
  </tbody>
</table>
<div class="pagination-container">
  <button class="btn-prev" (click)="getPreviousPage()">Previous Page</button>
  <button class="btn-show" (click)="toggleShowMoreThanLessButton()">
    {{showMoreThanLessButton ? 'Show More' : 'Show Less' }}
  </button>
  <button class="btn-next" (click)="getNextPage()">Next Page</button>
</div>
