table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

button {
  padding: 6px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 24px;
}

td {
  vertical-align: middle;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Добавьте отступ сверху для разделения от таблицы */
}

.btn-prev, .btn-next {
  background-color: #22b2da;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}

.btn-show {
  background-color: #a2c11c;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}
