<h2>Players of the team: <b>{{team.name}} </b> </h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Second Name</th>
      <th>Position</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{player.id}}</td>
      <td>{{player.firstName}}</td>
      <td>{{player.secondName}}</td>
      <td>{{player.position}}</td>
      <td>
        <button *ngIf="player.id" (click)="getPlayerDetails(player.id)" >View</button>
      </td>
    </tr>
  </tbody>
</table>
