<div class="team-form">
  <h3>Update Team: {{team.name}}</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-section">
      <label>Name</label>
      <input placeholder="name of team" type="text" id="name"
             [(ngModel)]="team.name" name="name">
    </div>

    <div class="form-section">
      <label>Country</label>
      <input placeholder="country of team" type="text" id="country"
             [(ngModel)]="team.country" name="country">
    </div>

    <div class="form-section">
      <label>City</label>
      <input placeholder="city of team" type="text" id="city"
             [(ngModel)]="team.city" name="city">
    </div>


    <div class="form-section">
      <label>Budget</label>
      <input placeholder="budget of team" type="number" id="budget"
             [(ngModel)]="team.budget" name="budget">
    </div>

    <div class="form-section">
      <label>Commission</label>
      <input placeholder="commission of team" type="number" id="commission"
             [(ngModel)]="team.commission" name="commission">
    </div>
    <button class="submit-button" type="submit">Submit</button>
  </form>
</div>
